/*------------------*
# Tab
*------------------*/
.tab {
  &-content {
    border: 1px solid lightgray;
    border-top: 0px;
    border-radius: 0 4px 4px 4px;
  }
}
.nav-tabs {
  .nav-item {
    @include media-breakpoint-down(sm) {
      margin-right: 4px;
      margin-bottom: 4px;
    }
  }
  .nav-link {
    border-color: $primary;
    padding: 4px 42px;
    &:hover,
    &:focus,
    &.active {
      color: $white;
      background-color: $primary;
      border-color: $primary;
    }
    @include media-breakpoint-down(sm) {
      padding: 4px 8px;
    }
  }
}
